<div class="container aboutus-section">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="aboutus-banner mt-4">
        <img src="assets/team.jpg" alt="Kerékpár" class="img-responsive">
      </div>
      <div class="contacts mt-5">
        <p><strong>Email:</strong> valos_email.com</p>
        <p><strong>Telefon:</strong> +36 20 300 6677</p>
        <p><strong>Cím:</strong> Budapest, Valos utca 23</p>
      </div> 
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="aboutus">
        <h2 class="aboutus-title">Rólunk</h2>
        <div class="mb-3">
          <h3>Kezdetek</h3>
          <p class="kezdetek-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec consequat velit. Nullam nec libero aliquet, 
            hendrerit urna sit amet, luctus nulla. In hac habitasse platea dictumst. Fusce vitae feugiat ligula, ac aliquam dolor. 
            Curabitur tincidunt nisi in aliquet aliquam. In hac habitasse platea dictumst. Sed euismod efficitur magna, id aliquet 
            quam accumsan vel. In nec feugiat tortor. Pellentesque habitant morbi tristique senectus et netus
          </p>
        </div>
        <div class="mb-3">
          <h3>Megbizható minőség</h3>
          <p class="megbizhato-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec consequat velit. Nullam nec libero aliquet, 
            hendrerit urna sit amet, luctus nulla. In hac habitasse platea dictumst. Fusce vitae feugiat ligula, ac aliquam dolor. 
            Curabitur tincidunt nisi in aliquet aliquam. In hac habitasse platea dictumst. Sed euismod efficitur magna, id aliquet 
            quam accumsan vel. In nec feugiat tortor. Pellentesque habitant morbi tristique senectus et netus
          </p>
        </div>
        <div class="mb-3">
          <h3>Családias környezet</h3>
          <p class="csaladias-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec consequat velit. Nullam nec libero aliquet, 
            hendrerit urna sit amet, luctus nulla. In hac habitasse platea dictumst. Fusce vitae feugiat ligula, ac aliquam dolor. 
            Curabitur tincidunt nisi in aliquet aliquam. In hac habitasse platea dictumst. Sed euismod efficitur magna, id aliquet 
            quam accumsan vel. In nec feugiat tortor. Pellentesque habitant morbi tristique senectus et netus
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
